### Comment

for single line comment we use (#)
    
for string we use following:
    
'We can write comment using single comma or double comma or tripple single comma'
    
"We can write comment using single comma or double comma or tripple single comma's"
    
'''We can write comment using single comma or double comma or tripple single comma's'''

### Variable

Variable is the name which we assigned to some stuff.

The name of the variable always start with either a letter or an underscore (_).

The name of the variable cannot start with a number.

No use of space is allowed in variable.

e.g a=30, num=45, str_1='string'

### Data types

there are 4 Data types 

1) Integeres: 1 , 2 , 3 , 4 , 5 ,etc.

2) Floats: 1.5 , 2.6 , 3.5 , 4.0 , etc , 

3) Booleans: True and False.

4) Strings: collection of word or characters

### Casting

In casting we can change types of data's into each other.

In [1]:
a=32
print(type(a))

<class 'int'>

In [2]:
a=str(a)
print(type(a))

<class 'str'>

we changed integer to string

also we can do it vice versa (if possible)

### String

strings means a collection of characters or words

e.g. 'Johny Johny

    (Yes Papa)
    Eating sugar?
    
    (No, papa)
    Telling lies?
    
    (No, papa)
    Open your mouth
    
    (Ah, ah, ah!)'

### Booleans

Booleans means True or False

### Operators

there are 4 types of operators :

Arithemetic Operators: in which we can do addition(+) , substraction(-) , multiplication(*) and Division(/)
    
Assignment Operators: in this we can do 

Comparison Operators: in this we can compare two values equal to (a==b) , less than (a<b) , greter than (a>b) , Not equal to(a!=b)
                     , less than equal to (a<=b) , greter than equal to (a>=b).
        
Logical Operators: in this bool_1= True bool_2 = False
    
                   and = it gives values when both are True otherwise False
        
                   or = it gives values when at least one is True

### Data Structures

there are various types of data structures are as follows:

List

Set

Tuple

Dictionary

Array

# List

List always written in square parentheses and comma seperated .

items/elements of the list can be updated, deleted, add, shift or move.

In [3]:
list_1=[1,4,3,2,6,7,8,5,9,10]

In [4]:
# using type fn we know the class of list.
print(list_1)
print(type(list_1))

[1, 4, 3, 2, 6, 7, 8, 5, 9, 10]
<class 'list'>

In [5]:
# in this we are accesing the 0th no element of list. 
list_1[0]

1

In [6]:
# In this we are extracting elements from 0 to 4 .
list_1[0:5]

[1, 4, 3, 2, 6]

In [7]:
# we are extracting elements by index or position.
list_1.index(5)

7

In [8]:
# we are extracting elements by index or position.
list_1.index(9)

8

In [9]:
# Using append we are adding element in list at last position.
list_1.append(11)
list_1

[1, 4, 3, 2, 6, 7, 8, 5, 9, 10, 11]

In [10]:
# Using pop we are deleting element in list from position.
list_1.pop(10)
list_1

[1, 4, 3, 2, 6, 7, 8, 5, 9, 10]

In [11]:
#using reverse we are reversing the list.
list_1.reverse()
list_1

[10, 9, 5, 8, 7, 6, 2, 3, 4, 1]

In [12]:
#using sort fn sorting list in assending order.
list_1.sort()
list_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
# using len fn we calculating length of list.
print(len(list_1))

10

In [14]:
#using insert fn we add new element in list at position we want. 
list_1.insert(0,12)
list_1

[12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
#using remove fn we can delete element in list by name.
list_1.remove(12)
list_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Tuple

We can not change elements of tuple .

we can't delete or update elements of it. so they can be used to prevent accidental addition, modification, or removal of data.

tuples use less memory, and they make program execution faster than using lists.

tuple are always written in round parentheses.

In [16]:
tup=('suraj', 'om', 'ganesh', 'vivek', 'True' , 'False' )

In [17]:
print(tup,type(tup))

('suraj', 'om', 'ganesh', 'vivek', 'True', 'False') <class 'tuple'>

In [18]:
# in this we are accesing the 0th no element of list.
tup[0]

'suraj'

In [19]:
# in this we are accesing the 4th no element of list.
tup[4]

'True'

In [20]:
# in this we are accesing the element of list from 0 to 3.
tup[0:4]

('suraj', 'om', 'ganesh', 'vivek')

In [21]:
# in this we are accesing the element of list by name.
tup.index('True')

4

# Set

Only unique values are stored in set,it always written in curly parentheses.

In Output it gives only unique values it dose not gives the repeated values.

slicing and extracting are not allowed in set.

In [22]:
set1={1,4,2,7,1,4,8,1,5,4}
set2={'suraj', 'om', 'ganesh', 'vivek', 'True' , 'False'}
set3={1,4,2,7,11,4,8,1,5,9,}

In [23]:
#if we print the set it gives only unique values.
print(set1)

{1, 2, 4, 5, 7, 8}

In [24]:
#it also count only unique values.
len(set1)

6

In [25]:
#For adding element in set we use add fn.
set1.add(10)
set1

{1, 2, 4, 5, 7, 8, 10}

In [26]:
#for getting same values of two set we use intersection fn.
set1.intersection(set3)

{1, 2, 4, 5, 7, 8}

In [27]:
#for getting different values of two set we use difference fn.
set3.difference(set1)

{9, 11}

In [28]:
#for addition of 2 sets we use |= this symbol instead of +.other symbols are same as they are.
set3|=set1
set3

{1, 2, 4, 5, 7, 8, 9, 10, 11}

# Dictionary

Dictinary is also written in curly parentheses.

Dictionary have Keys and value pair.

All pairs must be unique i.e. if we access key we will get value corresponding to it .

In [1]:
# In Dictionary keys and values can be only string.
dict1={'Apple':'Red','Banana':'Yellow','Grapes':'Green'}

In [2]:
# In Dictionary keys and values can be only integers.
dict2={1:5, 2:6}

In [3]:
# In Dictionary keys can be strings and vales can be integers.
dict3={'red':1 , 'yellow':2}

In [4]:
# In Dictionary keys can be integers and vales can be string.
dict4={1:'red', 2:"yellow"}

In [5]:
#using len fn we can get the length of dictionary.
len(dict1)

3

In [6]:
# we can only ectract or slicing 1 element .
dict1['Apple']

'Red'

In [7]:
# we can only ectract or slicing 1 element .
dict3['red']

1

In [8]:
#using delete fn we can delete elements or pairs.
del dict1['Apple']
dict1

{'Banana': 'Yellow', 'Grapes': 'Green'}

In [14]:
# dictionary does not support addition operation
dict1+dict2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [ ]:
# we can add pairs in dictonary
dict1['apple']='red'
dict1

# Thank you